/FuelTracker.sln.docstates.suo
/FuelTrackerNoRepository/obj/Debug/App.g.cs
/FuelTrackerNoRepository/obj/Debug/App.g.i.cs
/FuelTrackerNoRepository/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/FuelTrackerNoRepository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/FuelTrackerNoRepository/obj/Debug/FuelTrackerNoRepository.csproj.FileListAbsolute.txt
/FuelTrackerNoRepository/obj/Debug/FuelTrackerWithContext.csproj.FileListAbsolute.txt
/FuelTrackerNoRepository/obj/Debug/FuelTrackerWithContext.dll
/FuelTrackerNoRepository/obj/Debug/FuelTrackerWithContext.g.resources
/FuelTrackerNoRepository/obj/Debug/FuelTrackerWithContext.pdb
/FuelTrackerNoRepository/obj/Debug/MainPage.g.cs
/FuelTrackerNoRepository/obj/Debug/MainPage.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarCreateOrEditViewControl.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarCreateOrEditViewControl.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarCreateView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarCreateView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarDetailsView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarDetailsView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarEditView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarEditView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarsListView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/CarsListView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordCreateOrEditControl.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordCreateOrEditControl.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordCreateView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordCreateView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordDetailsView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordDetailsView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordEditView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordEditView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordsListView.g.cs
/FuelTrackerNoRepository/obj/Debug/Views/FuelRecordsListView.g.i.cs
/FuelTrackerNoRepository/obj/Debug/XapCacheFile.xml
/WpScaffolding/bin/Debug/Helpers/RelayCommand.cs
/WpScaffolding/bin/Debug/Helpers/RelayCommandGeneric.cs
/WpScaffolding/bin/Debug/Helpers/ViewModelBase.cs
/WpScaffolding/bin/Debug/Images/appbar.add.rest.png
/WpScaffolding/bin/Debug/Images/appbar.cancel.rest.png
/WpScaffolding/bin/Debug/Images/appbar.check.rest.png
/WpScaffolding/bin/Debug/Images/appbar.delete.rest.png
/WpScaffolding/bin/Debug/Images/appbar.edit.rest.png
/WpScaffolding/bin/Debug/Images/appbar.feature.search.rest.png
/WpScaffolding/bin/Debug/Images/appbar.feature.settings.rest.png
/WpScaffolding/bin/Debug/Images/appbar.refresh.rest.png
/WpScaffolding/bin/Debug/Images/appbar.save.rest.png
/WpScaffolding/bin/Debug/InstallationDummyFile.txt
/WpScaffolding/bin/Debug/Scaffolders/CustomScaffolder/CustomScaffolder.ps1
/WpScaffolding/bin/Debug/Scaffolders/CustomScaffolder/DefaultPs1Script.ps1.t4
/WpScaffolding/bin/Debug/Scaffolders/CustomScaffolder/DefaultT4Template.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/CustomScaffolder/DefaultT4Template.vb.t4
/WpScaffolding/bin/Debug/Scaffolders/CustomTemplate/CustomTemplate.ps1
/WpScaffolding/bin/Debug/Scaffolders/DataContext/DataContext.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/DataContext/DataContext.ps1
/WpScaffolding/bin/Debug/Scaffolders/DataContext/DataContextEntityMember.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/MVVM/MVVM.ps1
/WpScaffolding/bin/Debug/Scaffolders/MVVM/MVVMScaffoldCommand.txt
/WpScaffolding/bin/Debug/Scaffolders/View/CreateOrEditViewControl.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/CreateOrEditViewControlCodeBehind.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/CreateView.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/CreateViewCodeBehind.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/DetailsView.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/DetailsViewCodeBehind.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/EditView.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/EditViewCodeBehind.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/HowToCreateViewTemplate.txt
/WpScaffolding/bin/Debug/Scaffolders/View/ListView.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/ListViewCodeBehind.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/View/View.ps1
/WpScaffolding/bin/Debug/Scaffolders/ViewModel/CreateOrEditViewModelWithContext.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/ViewModel/DetailsViewModelWithContext.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/ViewModel/HowToCreateViewModelTemplate.txt
/WpScaffolding/bin/Debug/Scaffolders/ViewModel/ListViewModelWithContext.cs.t4
/WpScaffolding/bin/Debug/Scaffolders/ViewModel/ViewModel.ps1
/WpScaffolding/bin/Debug/T4Scaffolding.Core/T4Scaffolding.Format.ps1xml
/WpScaffolding/bin/Debug/T4Scaffolding.Core/T4Scaffolding.NuGetServices.dll
/WpScaffolding/bin/Debug/T4Scaffolding.Core/T4Scaffolding.dll
/WpScaffolding/bin/Debug/T4Scaffolding.Core/init.ps1
/WpScaffolding/bin/Debug/T4Scaffolding.Core/scaffoldingTabExpansion.psm1
/WpScaffolding/bin/Debug/T4Scaffolding.Format.ps1xml
/WpScaffolding/bin/Debug/T4Scaffolding.NuGetServices.dll
/WpScaffolding/bin/Debug/T4Scaffolding.dll
/WpScaffolding/bin/Debug/WpScaffolding.0.1.0.nupkg
/WpScaffolding/bin/Debug/WpScaffolding.0.1.1.nupkg
/WpScaffolding/bin/Debug/WpScaffolding.0.1.2.nupkg
/WpScaffolding/bin/Debug/WpScaffolding.0.1.3.nupkg
/WpScaffolding/bin/Debug/WpScaffolding.dll
/WpScaffolding/bin/Debug/WpScaffolding.nuspec
/WpScaffolding/bin/Debug/WpScaffolding.nuspec.original
/WpScaffolding/bin/Debug/WpScaffolding.pdb
/WpScaffolding/bin/Debug/init.ps1
/WpScaffolding/bin/Debug/install.ps1
/WpScaffolding/bin/Debug/scaffoldingTabExpansion.psm1
/WpScaffolding/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WpScaffolding/obj/Debug/WpScaffolding.csproj.FileListAbsolute.txt
/WpScaffolding/obj/Debug/WpScaffolding.csprojResolveAssemblyReference.cache
/WpScaffolding/obj/Debug/WpScaffolding.dll
/WpScaffolding/obj/Debug/WpScaffolding.pdb
